#!jinja2
%include settings.rc

title = Running the forecast using CWL from Cylc

[cylc]
    UTC mode = True
    cycle point format = %Y%m%d

[scheduling]
    initial cycle point = {{ initial_cycle_point }}
    final cycle point = {{ final_cycle_point }}
    [[dependencies]]
        [[[P1D]]]
            graph = """
                #we use high-res gfs forcings
                download_gfs => preprocess_deterministic_forcing

                #and the gefs ensemble for variation across ensemble members
                download_gefs => preprocess_ensemble_forcing => run_forecast

                #we upscale the ensemble using the deterministic high-res focing
                preprocess_deterministic_forcing => preprocess_ensemble_forcing

                #we assimilate soil moisture into our model
                download_hsaf => preprocess_observations => run_forecast

                create_pcrglobwb_config => run_forecast
                create_openda_config => run_forecast

                run_forecast => postprocess
            """

[runtime]
    [[get_forcing]]
    [[download_gfs, download_gefs, download_hsaf]]
        inherit = get_forcing

    [[download_gfs]]
        script = """cwl-runner {{ cwl_opts }} $CYLC_SUITE_DEF_PATH/getforcing/cwl/download_gfs.cwl \
            --iso_date $CYLC_TASK_CYCLE_POINT
        """

    [[download_gefs]]
        script = """cwl-runner {{ cwl_opts }} $CYLC_SUITE_DEF_PATH/getforcing/cwl/download_gefs.cwl \
            --iso_date $CYLC_TASK_CYCLE_POINT
        """

    [[download_hsaf]]        
        script = """cwl-runner {{ cwl_opts }} $CYLC_SUITE_DEF_PATH/getforcing/cwl/download_hsaf.cwl \
            --hsaf_passwd $HSAF_PASSWORD --hsaf_user $HSAF_USER \
            --iso_date $CYLC_TASK_CYCLE_POINT
        """

        [[[environment]]]
            HSAF_PASSWORD = {{ hsaf_password }}
            HSAF_USER = {{ hsaf_user }}

    [[PREPROCESS]]
    [[preprocess_deterministic_forcing, preprocess_ensemble_forcing, preprocess_observations]]
        inherit = PREPROCESS

    [[preprocess_observations]]
        script = """cwl-runner {{ cwl_opts }} $CYLC_SUITE_DEF_PATH/preprocess/cwl/preprocess_observations.cwl \
            --input_tarball ../download_hsaf/h14_${CYLC_TASK_CYCLE_POINT}_0000.grib.bz2 \
            --iso_date $CYLC_TASK_CYCLE_POINT \
            --target_grid $CYLC_SUITE_DEF_PATH/preprocess/grids/30min.grid.txt \
            --target_mask $CYLC_SUITE_DEF_PATH/preprocess/grids/30min.grid.model.mask.nc
         """

    [[preprocess_deterministic_forcing]]
        script = """cwl-runner {{ cwl_opts }} $CYLC_SUITE_DEF_PATH/preprocess/cwl/preprocess_deterministic_forcing.cwl \
            --input_tarball ../download_gfs/gfs_${CYLC_TASK_CYCLE_POINT}.tar.bz2
        """

    [[preprocess_ensemble_forcing]]
        script = """cwl-runner {{ cwl_opts }} $CYLC_SUITE_DEF_PATH/preprocess/cwl/preprocess_ensemble_forcing.cwl \
            --input_tarball ../download_gefs/gefs_${CYLC_TASK_CYCLE_POINT}.tar.bz2 \
            --deterministic_forcing_output_tarball ../preprocess_deterministic_forcing/output_deterministic_forcing.tar.bz2 \
            --target_grid $CYLC_SUITE_DEF_PATH/preprocess/grids/30min.grid.txt
        """

    [[FORECAST]]
    [[create_pcrglobwb_config, create_openda_config, run_forecast]]
        inherit = FORECAST

    [[create_pcrglobwb_config]]
        script = """cwl-runner {{ cwl_opts }} $CYLC_SUITE_DEF_PATH//forecast/cwl/create_pcrglobwb_config.cwl \
            --starttime $CYLC_TASK_CYCLE_POINT --endtime $ENDTIME
        """

        [[[environment]]]
            ENDTIME = $(cylc util cycletime --offset-days=8 --template=CCYYMMDD)

    [[create_openda_config]]
        script = """cwl-runner {{ cwl_opts }} $CYLC_SUITE_DEF_PATH/forecast/cwl/create_openda_config.cwl \
            --ensemble_member_count {{ ensemble_member_count }} --model_hosts "" \
            --state_write_time $CYLC_TASK_CYCLE_POINT
        """

    [[run_forecast]]
        script = """cwl-runner {{ cwl_opts }} $CYLC_SUITE_DEF_PATH/forecast/cwl/run_forecast.cwl \
            --openda_config ../create_openda_config/openda_config.tar.gz \
            --pcrglobwb_config ../create_pcrglobwb_config/pcrglobwb_config.ini \
            --observation ../preprocess_observations/output_observations.tar.bz2 \
            --ensemble_count {{ ensemble_member_count }} \
            --input_state {{ initial_state_tarball }} \
            --ensemble_forcing ../preprocess_ensemble_forcing/output_ensemble_forcing.tar.bz2 \
            --hydroworld {{ hydroworld_tarball }}
        """

    [[postprocess]]
        script = """cwl-runner {{ cwl_opts }} $CYLC_SUITE_DEF_PATH/postprocess/cwl/postprocess.cwl \
            --input_tarball ../run_forecast/forecast.tar.bz2 \
            --uncertainty_template_file $CYLC_SUITE_DEF_PATH/postprocess/template/uncertaintyTemplate.nc
        """

[visualization]
    default node attributes = "style=filled", "shape=ellipse"
    [[node attributes]]
        Forcing = "fillcolor=#00c798"
        preprocessing = "fillcolor=#ffcc00"
        Forecast = "fillcolor=#00b4fd"
        postprocessing = "fillcolor=#ff5966"
