title = Running the forecast using CWL from Cylc

[cylc]
    cycle point format = %Y

[scheduling]
   initial cycle point = 20181022T00
   final cycle point = 20181023T00
   [[dependencies]]
      [[[R1]]]  # Initial cycle point.
         graph = Forcing => preprocessing => Forecast => postprocessing 

[visualization]
    default node attributes = "style=filled", "shape=ellipse"
    [[node attributes]]
        Forcing = "fillcolor=#00c798"
        preprocessing = "fillcolor=#ffcc00"
        Forecast = "fillcolor=#00b4fd"
        postprocessing = "fillcolor=#ff5966"
################################################
#[scheduling]
#	cycling mode = integer
#	initial cycle point = 1
#	final cycle point = 2
#
#[[dependencies]]
#	[[[P1]]]
#		graph = get_forcing
#
#[runtime]
#	[[get_forcing]]
#	[[download_gfs]]
#		script = "cwl-runner $FORCING_DIR/download_gfs.cwl --iso_date $ISO_DATE"
#	[[download_gefs]]
#		script = "cwl-runner $FORCING_DIR/download_gefs.cwl --iso_date $ISO_DATE"
#		# script = "cwl-runner $FORCING_DIR/download_hsaf.cwl --hsaf_passwd $HSAF_PASSWD --hsaf_user $HSAF_USER --iso_date $ISO_DATE
#		[[[environment]]]
#			# relative path wrt suite dir
#			FORCING_DIR = "~/Projects/eWatercycle/forecast-docker/getforcing/cwl"
#			# include automatic generation of ISODATE from initial and final cyclepoint
#			ISO_DATE = "20181017"
#			#HSAF_PASSWD = A hsaf username and password can be obtained from H-SAF
#			#HSAF_USER =  A hsaf username and password can be obtained from H-SAF

